<%- include("../partials/header") %>


<section>
        <div>
            <!-- display the title of the selected item -->
            <h2 class="my-5"><%=graphic.title%></h2>
            <div class="row">
                <!-- List of projects -->
                <div class="d-none d-lg-block">
                    <div class="d-flex col-12 justify-content-between mb-3">
                        <%graphics.forEach(function(title){
                            var name=title.show.charAt(0).toUpperCase() + title.show.slice(1)%>
                        <a class="btn" href="/mywork/graphic/<%=title.show%>"><%=name%></a>
                        <%})%>
                    </div>
                </div>
            </div>
            <div class="row">
                <%graphic.imgs.forEach(function(image){%>
                    <div class="col-12 col-lg-6 my-3">
                        <img class="show" src="<%=image%>" alt="">
                    </div>    
                    
                <%})%>
            </div>
            <div class="row justify-content-center">
                <!-- Description -->
                <div class="col-12 col-lg-6 text-center">
                    <h5>About the Project</h5>  
                        <p><%=graphic.description%></p>
                </div>
                <!-- Tools -->
                <div class="col-12 col-lg-6 text-center my-3">
                    <h5>Tools & Software</h5>
                    <%graphic.tools.forEach(function(tool){%>   
                        <span>|  <%=tool%>  |</span>
                    <%})%>
                </div>
                <!-- Collaboration -->
                <%if (graphic.collab){%>
                    <div class="col-12 text-center my-3">
                        <h5>In collaboration with</h5>
                        <p>
                            <%graphic.collab.forEach(function(name){%>   
                                <span>|  <%=name%>  |</span>
                            <%})%>
                        </p>
                    </div>
                <%}%>                    
            </div>
        </div>
</section>
<%- include("../partials/footerWork") %>